body{
  background-image: url(matrix.png);
  background-size: 100%;


}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7.woff2') format('woff2'),
        url('fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div.titulo1{
  height: 300px;
  width: 1298px;
  background-color: black;
  margin: auto;
}

.titulo1{
  font-size: 70px;
  padding: 1px;
  color:green;
  font-family: 'Digital-7';
}

h4{
  font-family: 'digital-7';
}
div.titulo2{
  width: 1298px;
  height: 50px;
  background-color: black;
  margin: auto;
}

.titulo2{
  font-size: 40px;
  color:green;
  font-family: 'Digital-7';
  font-weight: normal;
}

div.titulo3{
  height: 50px;
  width: 1400px;
  background-color: black;
  margin: auto;
}

.titulo3{
  font-size: 40px;
  color:green;
  font-family: 'Digital-7';
  font-weight: normal;
}
.titulo1,.titulo2,.titulo3{
  text-align: center;
}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: black;
}
ul{
  margin: auto;
}

h2,h3{
  padding-top: 6.5rem;
  color: green;
  border-top: 100px;
  text-align: center;
  font-family:'Digital-7';
  text-decoration: none;
}

h2{
  font-size: 20pt;
}

h2:hover{
  opacity: 50%;
  color:white;
}

.a1{
margin-left: -20rem;
}

.a2{
margin-left: 30rem;
}

.a3{
margin-left: -20rem;
}

.a4{
margin-left: 30rem;
}

.a5{
margin-left: -20rem;
}

.a6{
margin-left: 30rem;
}

.a7{
margin-left: -20rem;
}

.a8{
margin-left: 30rem;
}
