body{
  background-color: #222;
  color: white;
  font-family: Helvetica,sans-serif;;
}

.izquierda{
  float: left;

}

.derecha{
  float: right;

}

h2{
  clear: both;
  color: #FFF;
  font-size: 1,375rem;
}

h3{
  color: #CCC;
  clear: left;
}

a{
  height: 2,5rem;
  text-decoration: none;
  color: #CCC;
  margin-left: 1,25rem;
  float: left;
  line-height: 0,3125rem;
}

img{
  float: left;
}

li:hover{
  color: #FFF;
}

#titulo{
  font-size: 0,875rem;
}
#any,#tipo{
  font-size: 0,6875rem;
}
#botones{
  height: 2,1875rem;
  width: 100%;
  background-color: black;
}

#interesantes{
  height: 25rem;

}
#vistos{
  height: 25rem;
}
#pendientes{
  height: 25rem;
}
#vistos2{
  height: 25rem;
}
#siguiendo{
  height: 25rem;
}
#vistos3{
  height: 25rem;
}
