
@font-face {
    font-family:"Digital-7";
    src:url("digital-7.woff2") format("woff2"),url("digital-7.woff") format("woff"),url("digital-7.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        