body{
  margin: 0;
  padding: 0;
  background-image: url(img/fons.jpg);
  font-family: helvetica, Arial, sans-serif;
}

h1{
  font-family: helvetica;
  position: relative;
  font-size: 4em;
  text-align: center;

}

b{
  color: grey;
}

.cabeza{
  width:960px;
  height: 589px;
  margin: 0 auto;
}


.cuerpo{
  width: 960px;
  height: 780px;
  margin: auto;
}

.pinicula{
  width: 300px;
  height: 240px;
  margin:5px;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  float: left;
  position: relative;
  opacity: 0.5;
}

#pulp_fiction{
  background: url(img/pulp.jpg);
  background-repeat: no-repeat;
}

#back_to_the_future{
  background: url(img/back.jpg);
  background-repeat: no-repeat;
}

#james_bond{
  background: url(img/bond.jpg);
  background-repeat: no-repeat;
}

#mr_bean{
  background: url(img/bean.jpg);
  background-repeat: no-repeat;
}

#point_break{
  background: url(img/break.jpg);
  background-repeat: no-repeat;
}

#knight_rider{
  background: url(img/rider.jpg);
  background-repeat: no-repeat;
}

#ghost_busters{
  background: url(img/ghost.jpg);
  background-repeat: no-repeat;
}

#taxi_driver{
  background: url(img/taxi.jpg);
  background-repeat: no-repeat;
}

#a_team{
  background: url(img/team.jpg);
  background-repeat: no-repeat;
}

.pinicula:hover{
  opacity:1;
  transform: rotateY(25deg);
  transform-origin: left;
}

.pinicula p{
  background: white;
  height: 40px;
  width: 100%;
  line-height: 40px;
}


.animacion{
  height: 589px;
  margin: auto;
  background: url(coche/back.png);
  position: relative;
  bottom:150px;

  background-repeat: no-repeat;
  background-size:auto;
  animation:carrussel 1s infinite;

}

@@keyframes carrussel {
  0%{
    background-image: url(coche/back.png);
  }

  11.1%{
    background-image: url(coche/bean.png);
  }

  22.2%{
    background-image: url(coche/bond.png);
  }

  33.3%{
    background-image: url(coche/break.png);
  }

  44.4%{
    background-image: url(coche/ghost.png);
  }

  55.5%{
    background-image: url(coche/pulp.png);
  }

  66.6%{
    background-image: url(coche/rider.png);
  }

  77.7%{
    background-image: url(coche/taxi.png);
  }

  88.8%{
    background-image: url(coche/team.png);
  }

  99.9%{
    background-image: url(coche/back.png);
  }
}

.pie{
  width: 200px;
  text-align: center;
  margin: auto;

}

.logo{
  height: 200px;
  background: url(img/logo.png);
  background-repeat: no-repeat;
  margin:0 auto;

}
